@namespace HTT.BlazorWasm.App.Components.Layout.Sidebar
@inherits BlazorBaseComponent
@inject IStringLocalizer<NavMenu> L

@if (IsVisible)
{
    @if (Item.Type == CNavigationItemType.Header)
    {
        @if (LayoutService.SidebarType != CSidebarCollapseType.Collapsed)
        {
            <div class="sidebar-header-label">@L[Item.Title]</div>
        }
        else
        {
            <div class="sidebar-divider-tiny"></div>
        }
    }
    else if (Item.Type == CNavigationItemType.Divider)
    {
        <div class="sidebar-divider"></div>
    }
    else if (Item.Type == CNavigationItemType.Group)
    {
        <SidebarGroup Item="Item" />
    }
    else
    {
        <div class="sidebar-item @(IsActive ? "active" : string.Empty)">
            <NavLink class="sidebar-link" href="@Item.Url" Match="NavLinkMatch.All">
                <Tooltip Title="@(LayoutService.SidebarType == CSidebarCollapseType.Collapsed ? L[Item.Title] : "")">
                    @if (!string.IsNullOrEmpty(Item.Icon))
                    {
                        <i class="@Item.Icon sidebar-icon"></i>
                    }
                </Tooltip>

                @if (LayoutService.SidebarType != CSidebarCollapseType.Collapsed)
                {
                    <span class="sidebar-text">@L[Item.Title]</span>
                    @if (!string.IsNullOrEmpty(Item.BadgeText))
                    {
                        <span class="sidebar-badge @Item.BadgeClass">@Item.BadgeText</span>
                    }
                }
            </NavLink>
        </div>
    }
}